@font-face {
font-family: Interstate-Black;
src: url('Interstate-Black.ttf');
}

@font-face {
	font-family: HelveticaNeueLight;
	src: url("helveticaneueltstd-lt-webfont.eot");
    src: url('helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-lt-webfont.ttf') format('truetype');
}
@font-face {
	font-family: HelveticaNeue;
	src: url("helveticaneue-webfont.eot");
    src: url('helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-webfont.ttf') format('truetype');}

 @font-face {
     font-family: 'MuseoSans500';
     src: url('museosans_500-webfont.eot');
     src: url('museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
          url('museosans_500-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'MuseoSans700';
     src: url('museosans_700-webfont.eot');
     src: url('museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
          url('museosans_700-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'MuseoSans100';
     src: url('museosans-100-webfont.eot');
     src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
          url('museosans-100-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'MuseoSans300';
     src: url('museosans-300-webfont.eot');
     src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
          url('museosans-300-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'MuseoSans900';
     src: url('museosans_900-webfont.eot');
     src: url('museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
          url('museosans_900-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

@font-face {
 font-family: 'GillSansMTPro-Book';
    src: url('gillsansmtpro-book.eot');
    src: url('gillsansmtpro-book.eot?#iefix') format('embedded-opentype'),
         url('gillsansmtpro-book.woff') format('woff'),
         url('gillsansmtpro-book.ttf') format('truetype'),
         url('gillsansmtpro-book.svg#gillsansmtpro-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansMTPro-Light';
    src: url('gillsansmtpro-light.eot');
    src: url('gillsansmtpro-light.eot?#iefix') format('embedded-opentype'),
         url('gillsansmtpro-light.woff') format('woff'),
         url('gillsansmtpro-light.ttf') format('truetype'),
         url('gillsansmtpro-light.svg#gillsansmtpro-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansMTPro-Medium';
    src: url('gillsansmtpro-medium.eot');
    src: url('gillsansmtpro-medium.eot?#iefix') format('embedded-opentype'),
         url('gillsansmtpro-medium.woff') format('woff'),
         url('gillsansmtpro-medium.ttf') format('truetype'),
         url('gillsansmtpro-medium.svg#gillsansmtpro-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}